
@media (min-width: 1400px) {
}

@media (min-width: 1200px) and (max-width: 1399px) {}

@media (min-width: 992px) and (max-width: 1999px) {
    .hero-con-img img {
        width: 100%;
    }
    .hero-con-img-overlay {
        height: 67%;
        width: 65%;
        top: 7%;
        left: 17%;
    }
    .about_con h3 {
        font-size: 29px;
        padding-bottom: 12px;
    }
    .about_con p {
        font-size: 16px;
    }
    .work-con p {
        font-size: 17px;
    }
    .team-con h3 {
        font-size: 29px;
        padding-bottom: 15px;
    }
    .team-con p {
        font-size: 16px;
    }
    .navbar ul li {
        font-size: 16px;
        margin-left: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hero-con-img img {
        width: 100%;
    }
    .hero-con-img-overlay {
        height: 67%;
        width: 65%;
        top: 7%;
        left: 17%;
    }
    .about_con h3 {
        font-size: 21px;
        padding-bottom: 15px;
    }
    .about_con p {
        font-size: 12px;
        line-height: 20px;
    }
    .hero-con h2 {
        font-size: 52px;
    }
    .hero-con p {
        font-size: 28px;
        padding-bottom: 42px;
    }
    .swiper-slide p {
        font-size: 20px;
    }
    .comment-con-main {
        padding: 100px 0;
    }
    .team-con h3 {
        font-size: 21px;
        padding-bottom: 15px;
    }
    .team-con p {
        font-size: 12px;
        line-height: 20px;
    }
    .team {
        padding: 45px 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .team-con {
        padding: 27px 0;
    }
    .team {
        padding: 45px 0;
    }
    .comment-con-main {
        padding: 90px 0;
    }
    .swiper-button-next {
        padding: 25px;
    }
    .swiper-button-prev {
        padding: 25px;
    }
    .swiper-slide p {
        font-size: 16px;
        padding-bottom: 0px;
    }
    .swiper-slide h5 {
        font-size: 16px;
        margin-bottom: 0;
    }
    .hero-con h2 {
        font-size: 50px;
    }
    .hero-con p {
        font-size: 25px;
        padding-bottom: 35px;
    }
    .hero-con-img img {
        width: 100%;
    }
    .hero-con-img-overlay {
        height: 67%;
        width: 65%;
        top: 6%;
        left: 89px;  
    }
    footer p {
        font-size: 13px;
    }  
}
@media (max-width: 575px) {
    footer p {
        font-size: 13px;
    }
    .footer-con {
        padding-bottom: 45px;
    }
    .footer-con-main {
        padding: 57px 0;
    }
    .team-con {
        padding: 25px 0;
    }
    .team {
        padding: 45px 0;
    }
    .hero-con h2 {
        font-size: 45px;
    }
    .swiper-button-next {
        padding: 0;
        background-color: transparent;
        border: none;
        color: transparent;
    }
    .swiper-button-prev {
        padding: 0;
        background-color: transparent;
        border: none;
        color: transparent;
    }
    .swiper-slide p {
        font-size: 10px;
        padding-bottom: 0px;
    }
    .swiper-slide h5 {
        font-size: 10px;
        margin-bottom: 0;
    }
    .comment-con-main {
        padding: 35px 0px;
    }
    .hero-con p {
        font-size: 21px;
    }
    .critivety-con-overlay button {
        border-radius: 25px;
        padding: 5px 22px;
        font-size: 15px;
    }
    .about_con {
        padding: 12px 0;
    }
    .hero {
        padding: 45px 0;
    }
    .hero-con-img img {
        width: 100%;
    }
    .hero-con-img-overlay {
        height: 67%;
        width: 65%;
        top: 6%;
        left: 51px;  
    }
    .hero-con h2 {
        font-size: 33px;
    }
    .hero-con p {
        font-size: 19px;
        padding-bottom: 28px;
    }
    .hero-con button {
        border-radius: 25px;
        padding: 5px 15px;
        font-size: 14px;
        margin-bottom: 38px;
    }
}